{{#d-modal-body class="add-location" title=title}}
  <div class='control-group'>
    <label class='control-label'>{{i18n 'location.name.title'}}</label>
    <div class="controls">
      {{input type="text" value=name class="input-xxlarge input-location location-name"}}
    </div>
    <div class='instructions'>{{i18n 'location.name.desc'}}</div>
  </div>
  <hr>
  {{location-form street=street
                  postalcode=postalcode
                  city=city
                  countrycode=countrycode
                  geoLocation=geoLocation
                  rawLocation=rawLocation
                  inputFields=inputFields
                  searchOnInit=searchOnInit
                  searchError="searchError"}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="submit" label='location.done' class="btn-primary" disabled=submitDisabled}}
  <a class="clear" {{action 'clear'}}>{{i18n 'location.clear'}}</a>
</div>
