<div class='autocomplete'>
  <ul>
    {{#each options as |o|}}
      {{#if o.no_results}}
        <div class="no-results">{{i18n 'location.geo.no_results'}}</div>
      {{else}}
        {{#if o.provider}}
          <label>{{{i18n 'location.geo.desc' provider=o.provider}}}</label>
        {{else}}
          <li class="location-form-result">
            {{raw 'geo-location-result' location=o geoAttrs=o.geoAttrs showType=o.showType}}
          </li>
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
</div>
