<div class="location-label" title={{i18n "location.label.title"}}>
  {{d-icon "map-marker-alt"}}
  <span class="location-text">
    {{location-format this.topic.location this.opts}}
  </span>
</div>

{{#if this.showMapToggle}}
  <div class="location-topic-map">
    <button onclick={{action "showMap"}} class="btn btn-small btn-default" type="button">
      {{d-icon "far-map"}}
      {{#unless this.site.mobileView}}
        {{i18n "location.geo.show_map"}}
      {{/unless}}
    </button>
  </div>
  {{#if this.showMap}}
    <MapComponent @topic={{this.topic}} @size="small" />
  {{/if}}
{{/if}}
