{{#if showInputFields}}
  {{#if showStreet}}
    <div class="control-group">
      <label class='control-label'>{{i18n 'location.street.title'}}</label>
      <div class="controls">
        {{input type="text" value=street class="input-large input-location"}}
      </div>
      <div class='instructions'>{{i18n 'location.street.desc'}}</div>
    </div>
  {{/if}}
  {{#if showPostalcode}}
    <div class='control-group'>
      <label class="control-label">{{i18n 'location.postalcode.title'}}</label>
      <div class="controls">
        {{input type="number" value=postalcode class="input-small input-location"}}
      </div>
      <div class='instructions'>{{i18n 'location.postalcode.desc'}}</div>
    </div>
  {{/if}}
  {{#if showCity}}
    <div class='control-group'>
      <label class="control-label">{{i18n 'location.city.title'}}</label>
      <div class="controls">
        {{input type="text" value=city class="input-large input-location"}}
      </div>
      <div class='instructions'>{{i18n 'location.city.desc'}}</div>
    </div>
  {{/if}}
  {{#if showCountrycode}}
    <div class='control-group'>
      <label class="control-label">{{i18n 'location.country_code.title'}}</label>
      <div class="controls">
        {{#if countries}}
          {{combo-box valueAttribute="code" nameProperty="name" content=countries value=countrycode none="location.country_code.placeholder" class="input-location"}}
        {{/if}}
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="control-group">
    <label class='control-label'>{{i18n 'location.query.title'}}</label>
    <div class="controls">
      {{#if showGeoLocation}}
        {{location-selector location=geoLocation class="input-xxlarge location-selector" searchError='searchError'}}
      {{else}}
        {{input type="text" value=rawLocation class="input-xxlarge input-location"}}
      {{/if}}
    </div>
    <div class='instructions'>
      {{i18n 'location.query.desc'}}
      {{#if showGeoLocation}}
        {{{i18n 'location.geo.desc' provider=providerDetails}}}
      {{/if}}
    </div>
  </div>
{{/if}}
{{#if showGeoLocation}}
  {{#if showInputFields}}
    {{d-button class='btn-default location-search' label='location.geo.btn.label' action='locationSearch' disabled=searchDisabled}}
    {{#if showLocationResults}}
      <div class='p-list-box'>
        <div class="p-text small">{{i18n 'location.geo.results'}}</div>
        <ul>
          {{#if hasSearched}}
            {{#if loadingLocations}}
              {{loading-spinner size="small"}}
            {{else}}
              {{#each geoLocationOptions as |l|}}
                {{geo-location-result updateGeoLocation="updateGeoLocation" location=l placeSearch=placeSearch}}
              {{else}}
                <li class='no-results'>{{i18n 'location.geo.no_results'}}</li>
              {{/each}}
            {{/if}}
          {{/if}}
        </ul>
      </div>
      <div class='location-form-instructions'>{{{i18n 'location.geo.desc' provider=providerDetails}}}</div>
    {{/if}}
  {{/if}}
{{/if}}
