<div class="location-label" title="{{i18n 'location.label.title'}}">
  {{d-icon 'map-marker'}}
  {{location-format topic.location}}
</div>
{{#if showMapToggle}}
  <div class="location-topic-map">
    <button {{action "showMap"}} class='btn btn-small btn-default'>
      {{d-icon 'map-o'}}
      {{#unless site.mobileView}}
        {{i18n 'location.geo.show_map'}}
      {{/unless}}
    </button>
    {{#if showMap}}
      {{map-component topic=topic}}
    {{/if}}
  </div>
{{/if}}
