<section>
  <h3> {{i18n "category.location_settings_label"}}</h3>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.location_enabled}}
      {{i18n 'category.location_enabled'}}
    </label>
  </section>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.location_topic_status}}
      {{i18n 'category.location_topic_status'}}
    </label>
  </section>

  <section class='field'>
    <label>
      {{input type="checkbox" checked=category.custom_fields.location_map_filter_closed}}
      {{i18n 'category.location_map_filter_closed'}}
    </label>
  </section>

</section>
