{{#if showUserLocation}}
  <span class="location">
    {{mount-widget widget="user-location" args=(hash user=user formFactor='card')}}
  </span>
{{/if}}
{{#if user.website_name}}
  <span class='website-name'>
    {{d-icon "globe"}}
    {{#if linkWebsite}}
      <a href="{{user.website}}" rel={{unless removeNoFollow 'nofollow ugc noopener'}}
       target="_blank">{{user.website_name}}</a>
    {{else}}
      <span title={{user.website}}>{{user.website_name}}</span>
    {{/if}}
  </span>
{{/if}}