{{#if showUserLocation}}
  <div class="user-profile-location">
    {{mount-widget widget="user-location" args=(hash user=model formFactor='profile')}}
  </div>
{{/if}}
{{#if model.website_name}}
<div class="user-profile-website">
  {{d-icon "globe"}}
  {{#if linkWebsite}}
    <a href={{model.website}} rel={{unless removeNoFollow 'nofollow ugc noopener'}} target="_blank">
      {{model.website_name}}
    </a>
  {{else}}
    <span title={{model.website}}>{{model.website_name}}</span>
  {{/if}}
</div>
{{/if}}
