<div
  {{did-insert this.setup}}
  {{did-update this.setup @category}}
  id="locations-map"
  class="locations-map {{if this.expanded 'expanded'}}"
>
  {{#if this.showExpand}}
    <button
      class="widget-button btn btn-map map-expand"
      type="button"
      {{on "click" this.toggleExpand}}
    >{{d-icon this.mapToggle}}</button>
  {{/if}}
  <button
    class="widget-button btn btn-map map-attribution"
    type="button"
    {{on "click" this.toggleAttribution}}
  >{{d-icon "info"}}</button>
  {{#if this.showEditButton}}
    <button
      class="widget-button btn btn-map category-edit"
      type="button"
      {{on "click" this.editCategory}}
    >{{d-icon "wrench"}}</button>
  {{/if}}
  <div class="map-search">
    {{#if this.isMultipleLocations}}
      <input
        type="text"
        value={{this.searchFilter}}
        {{on "input" this.filterLocations}}
      />
      <span class="search-filter-type">
        <span>
          <label for="name">
            <input
              type="radio"
              id="name"
              name="filter_type"
              value="name"
              {{on "input" this.changeFilterType}}
              checked="checked"
            />
            {{i18n "map.search.name"}}
          </label>
        </span>
        {{#if this.isUserListType}}
          <span>
            <label for="username">
              <input
                type="radio"
                id="username"
                name="filter_type"
                value="username"
                {{on "input" this.changeFilterType}}
              />
              {{i18n "map.search.username"}}
            </label>
          </span>
        {{/if}}
        {{#if this.isTopicListType}}
          <span>
            <label for="address">
              <input
                type="radio"
                id="address"
                name="filter_type"
                value="address"
                {{on "input" this.changeFilterType}}
              />
              {{i18n "map.search.address"}}
            </label>
          </span>
          <span>
            <label for="street">
              <input
                type="radio"
                id="street"
                name="filter_type"
                value="street"
                {{on "input" this.changeFilterType}}
              />
              {{i18n "map.search.street"}}
            </label>
          </span>
          <span>
            <label for="city">
              <input
                type="radio"
                id="city"
                name="filter_type"
                value="city"
                {{on "input" this.changeFilterType}}
              />
              {{i18n "map.search.city"}}
            </label>
          </span>
        {{/if}}
      </span>
    {{/if}}
  </div>
</div>