<div class="map-component">
<div
    {{did-insert this.setup}}
    {{did-update this.setup this.args.category}}
    class="locations-map {{if this.expanded 'expanded'}}"
>
    {{html-safe this.mapHTML}}
    {{#if this.args.showExpand}}
      <button class="btn btn-map map-expand" {{on "click" this.toggleExpand this.args.category}} icon={{this.mapToggle}}/>
    {{/if}}
    <button class="btn btn-map map-attribution" {{on "click" this.toggleAttribution}} icon="info"/>
    {{#if showEditButton}}
      <button class="btn btn-map category-edit" {{on "click" this.editCategory}} icon="wrench" />
    {{/if}}
</div>
</div>