<div class="user-location-widget">
  {{d-icon "map-marker-alt"}}
  <div class="location-label">
    {{this.userLocation}}
  </div>
  <div class="map-wrapper">
    <button
      class="widget-button btn btn-default btn-show-map btn-small btn-icon-text"
      type="button"
      {{on "click" this.toggleMap}}
    >
      {{d-icon "far-map"}}
      {{#if this.showMapButtonLabel}}
        {{this.mapButtonLabel}}
      {{/if}}
    </button>
    {{#if this.showMap}}
      <div class="map-container small">
        <LocationsMap @mapType="user" @user={{@user}} />
      </div>
    {{/if}}
  </div>
</div>